<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<connectionStrings>
		<add name="BaseDatosPruebaEntities1"
			 providerName="System.Data.EntityClient"
			 connectionString="metadata=res://*/BasePictionaryMusical.csdl|res://*/BasePictionaryMusical.ssdl|res://*/BasePictionaryMusical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BaseDatosPrueba;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
	</connectionStrings>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<!-- Cuenta -->
			<service name="Servicios.Servicios.CuentaManejador"
					 behaviorConfiguration="mexBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/Cuenta"/>
						<add baseAddress="net.tcp://localhost:8096/Pictionary/Cuenta"/>
					</baseAddresses>
				</host>
				<endpoint address="Cuenta"
						  binding="basicHttpBinding"
						  contract="Servicios.Contratos.ICuentaManejador" />
				<endpoint address="Cuenta"
						  binding="netTcpBinding"
						  contract="Servicios.Contratos.ICuentaManejador" />
				<!-- Metadatos -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding"  contract="IMetadataExchange" />
			</service>

			<!-- Catálogo de avatares -->
			<service name="Servicios.Servicios.CatalogoAvatares"
					 behaviorConfiguration="mexBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/Avatares"/>
						<add baseAddress="net.tcp://localhost:8096/Pictionary/Avatares"/>
					</baseAddresses>
				</host>
				<endpoint address="Avatares"
						  binding="basicHttpBinding"
						  contract="Servicios.Contratos.ICatalogoAvatares" />
				<endpoint address="Avatares"
						  binding="netTcpBinding"
						  contract="Servicios.Contratos.ICatalogoAvatares" />
				<!-- Metadatos -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding"  contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
